.siteFooterBar {
	position: fixed;
	bottom: 0;
	padding-top: 10px;
	width: 100%;
	box-shadow: 0px 0px 25px rgb(207, 207, 207);
	height: 40px;
	color: #9B9B9B;
	background: black;
}

.content {
	display: block;
	/* padding: 10px; */
	margin: 0px auto;
	text-align: center;
	font: 25px Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
    width:350px;
    
}
.foot {
 display:inline;
    /* line-height: 70px; */
color: white;
}
