<div class="about-section">
    <h1>Yossi Azar</h1>
    <p>Hair stylist</p>
    <p>
      טקסט הולך פה
    </p>
  </div>
  
  <div class="our-team-section">
    <h2 style="text-align: center">Our work</h2>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="https://res.cloudinary.com/dkrcw3jpz/image/upload/v1652083990/Screenshot_1_hgskuw.png"
          alt="Jane"
        />      
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://res.cloudinary.com/dkrcw3jpz/image/upload/v1652084404/Screenshot_2_so3sae.png"
          alt="Mike"
        />
      </div>
    </div>
  </div>
  