.content-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.about-section {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 70px;
}

.our-work-section{
  text-align: left;
  flex: 100%;
}

.details{
  text-align: right;
  flex: 50%;
}


.ngx-gallery { 
  display: inline-block;
   margin-bottom: 20px;
   background-color: lightgrey;
   }